<div class="main">
  <div class="row">
    <div class="column">
      <span>Money: {{resources.getResources('money') | shortNumber: 2}}</span>
      <span>Green certyfiaction: {{resources.getResources('greenCertyfiaction') | shortNumber: 2}}</span>
      <span>Workers: {{resources.getResources('workers') | shortNumber}}</span>
    </div>
    <div class="column">
      <span>Electricty: {{resources.getResources('electricty')  | shortNumber: 2}}</span>
      <span>Electricty price: {{resources.getResources('electrictyPrice')  | shortNumber: 2}}</span>
      <button title="Sell all electricty">Sell</button>
    </div>
    <div class="column">
      <button class="reset" title="For 2000 Power Plant you give 1 worker!">Reset</button>
    </div>
  </div>
  <div class="row">
    <button class="multi" (click)="onSelect(1)">1</button>
    <button class="multi" (click)="onSelect(10)">10</button>
    <button class="multi" (click)="onSelect(100)">100</button>
    <button class="multi" (click)="onSelect(1000)">1K</button>
    <button class="multi" (click)="onSelect(10000)">10K</button>
    <button class="multi" (click)="onSelect(100000)">100K</button>
    <button class="multi" (click)="onSelect(1000000)">1M</button>
    <button class="multi" (click)="onSelect(10000000)">10M</button>
    <button class="multi" (click)="onSelect(100000000)">100M</button>
  </div>
</div>
