<mat-grid-list cols="12" rowHeight="2em" gutterSize="1px">
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      Engineers<br>
      {{controlRoom.engineers}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      Level<br>
      {{controlRoom.level}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      Free space<br>
      {{controlRoom.freeSpace() - controlRoom.engineers}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      Hire price
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">
        {{controlRoom.hirePrice(multi) | shortNumber: 2 : true}}
        <mat-icon>attach_money</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      Upgrade price
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">
        {{controlRoom.upgradePrice(multi) | shortNumber: 2 : true}}
        <mat-icon>attach_money</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1">
        <button mat-raised-button color="primary" (click)="hire()" disabled="{{buildButton}}">Hire</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1">
        <button mat-raised-button color="primary" (click)="upgrade()" disabled="{{upgradeButton}}">Upgrade</button>
    </mat-grid-tile>
  </mat-grid-list>
