<mat-grid-list cols="12" rowHeight="2em" gutterSize="1px">
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    Buildings<br>
    {{powerPlant.buildings | shortNumber: 2 : true}}
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    Level<br>
    {{powerPlant.level}}
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    Engineers<br>
    {{powerPlant.engineers}}
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    Free space<br>
    {{powerPlant.freeSpace()}}
  </mat-grid-tile>
  <div *ngIf="powerPlant.greenPrice">
    <mat-grid-tile [colspan]="12" [rowspan]="1">Build price</mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1">
      {{powerPlant.buildPrice(multi) | shortNumber: 2 : true}}
      <mat-icon>attach_money</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1">
      {{powerPlant.greenBuildPrice(multi) | shortNumber: 2 : true}}
      <mat-icon>assignment</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">Upgrade price</mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1">
      {{powerPlant.upgradePrice(multi) | shortNumber: 2 : true}}
      <mat-icon>attach_money</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1">
      {{powerPlant.greenUpgradePrice(multi) | shortNumber: 2 : true}}
      <mat-icon>assignment</mat-icon>
    </mat-grid-tile>
  </div>
  <div *ngIf="!powerPlant.greenPrice">
    <mat-grid-tile [colspan]="12" [rowspan]="1">Build price</mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      {{powerPlant.buildPrice(multi) | shortNumber: 2 : true}}
      <mat-icon>attach_money</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">Upgrade price</mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      {{powerPlant.upgradePrice(multi) | shortNumber: 2 : true}}
      <mat-icon>attach_money</mat-icon>
    </mat-grid-tile>
  </div>
  <mat-grid-tile [colspan]="4" [rowspan]="2" class="mat-app-background">
    <button mat-raised-button color="primary" (click)="build()" disabled="{{buildButton}}">Build</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2" class="mat-app-background">
    <button mat-raised-button color="primary" (click)="upgrade()" disabled="{{upgradeButton}}">Upgrade</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2" class="mat-app-background">
    <button mat-raised-button color="primary" (click)="hire()" disabled="{{hireButton}}">Hire</button>
  </mat-grid-tile>
</mat-grid-list>
